.board {
    @include centerer;
    // size computed by js
    
    .wood {
        width: 100%;
        height: auto;
        z-index: 0;
    }

    .fields {
        z-index: 1;
    }

    .marbles {
        z-index: 2;

        .blue-marble {
            position: absolute;
            @include marble-styles1($blue);
        }

        .red-marble {
            @include marble-styles1($red);
        }

        .green-marble {
            @include marble-styles1($green);
        }

        .yellow-marble {
            @include marble-styles1($yellow);
        }
    }
}