.board {
    @include centerer;
    // size computed by js
    
    .wood {
        width: 100%;
        height: auto;
        z-index: 0;
    }

    .fields {
        z-index: 1;
    }

    .marbles {
        z-index: 2;

       

        .blue-marble {
            position: absolute;
            @include marble-styles1($blue);
        }

        .red-marble {
            @include marble-styles1($red);
        }

        .green-marble {
            @include marble-styles1($green);
        }

        .yellow-marble {
            @include marble-styles1($yellow);
        }
    }
}


$cardmult: 80;
.hand {   
    //width: 60%;
    //width: 300px;
    position: absolute;
    //height: 5px * $cardmult;
    display: block;
    top: 10%;
    //height: 50%;
    //border: 1px solid black;


  
    position: absolute;
    /* height: 200px; */
    display: block;
    left: calc(50% - 170px);
    top: 50%;
    width: 335px;
    height: 60%;
    transform-origin: top center;
}

.left-hand {
    transform: rotate(90deg);
}

.right-hand {
    transform: rotate(270deg);
}

.partner-hand {
    transform: rotate(180deg);
}

.card {
    //width: 2.5px * $cardmult;
    //height: 3.5px * $cardmult;
    width: 100px;
    height: 139px;
    position: absolute;
    display: block;
    bottom: -100px;
    //left: calc(50% - 2.5px * $cardmult);
    left: calc(50% - 100px);
    box-shadow: 0px 0px 8px 1px rgba($color: #000000, $alpha: 0.2);
    
    
    border-radius: 5px;
    //border: 3px solid $blue-light;

    z-index: 1;
    transition: 0.5s left ease, 0.5s bottom ease;
    user-select: none;

    &:hover {}

    >span {
        display: block;
    }

    .value {
        font-weight: bolder;
        font-size: 30px;
        margin: 5px;
    }

    .suit {}
}

/*
.hand {
    @include centerer;
    top: 90%;
    width: 300px;

}


.card {
    width: 100px;
    height: auto;
}*/



.facts {
    position: absolute;
    bottom: $content-margin;
    left: $content-margin;

    .fact {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .title {
            font-size: 25px;
            font-weight: $bold;
            letter-spacing: 0.5px;
            margin-bottom: 6px;
            display:table;
            line-height: 25px;
            padding-right: 5px;
            letter-spacing: 0.5px;

            .spacer {
                display: table-cell;
                vertical-align: middle;
                padding-right: 5px;
            }

            .timer {
                display: table-cell;
                vertical-align: middle;
                background-color: $blue-light;
                color: white;
                font-size: 13px;
                line-height: 13px;
                font-weight: $semi-bold;
                padding: 4px 8px;
                letter-spacing: -0.25px;
                border-radius: 13px;
                border: 1px solid lighten($black, 40%);
                transition: max-width 1s;

                &:after {
                    content: " \00a0\f12a ";
                    font-family: ionicons;
                    font-size: 80%;
                    display: inline-block;
                    max-width: 0;
                    transition: max-width .6s;
                    vertical-align: bottom;
                    overflow: hidden;
                }
            } 
        }

        .subtitle {
            font-size: 16px;
            font-weight: $regular;
        }
    }
}



.navigation-link {
    position: absolute;

    a {
        font-size:22px;
    }
}

.header-link {
    top: $content-margin;
    left: $content-margin;
}

.footer-link {
    bottom: $content-margin;
    right: $content-margin;
}



.avatar {
    position: absolute;
    bottom: -10px;
    left: 128px;
    z-index: 8;

    .container {
        position: relative;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            border-radius: 30px;
            width: 80px;
            height: 80px;
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.1);
            // todo fallback browser support
        }

        .avatar-img {
            position: relative;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 30px;
            border: 1px solid lighten($black, 40%);
            box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
        }

        .yellow {
            background: rgba($yellow, 0.2);
        }

        .green {
            background: rgba($green, 0.2);
        }

    
    }
}




footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: $content-margin;

    a {
        text-decoration: underline;
    }
}