.facts {
    position: absolute;
    bottom: $content-margin;
    left: $content-margin;

    .fact {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .title {
            font-size: 25px;
            font-weight: $bold;
            letter-spacing: 0.5px;
            margin-bottom: 6px;
            display: table;
            line-height: 25px;
            padding-right: 5px;

            .spacer {
                display: table-cell;
                vertical-align: middle;
                padding-right: 5px;
            }
        }

        .subtitle {
            font-size: 16px;
            font-weight: $regular;
        }
    }
}