.hand-container {
    transform-origin: center center;
    height: 100vh;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;

    &.my-hand-container {
        z-index: 5;
        transform: translate(-50%, -50%);
    }

    &.left-hand-container {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    &.right-hand-container {
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    &.partner-hand-container {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    .hand-wrapper {
        position: relative;
        width: 337px; // TODO comare with js
        height: 120px;

        .hand {
            min-width: 337px; // TODO comare with js
            @include centerer(true, false);
            bottom: -75px; // TODO 60?

            .card {
                position: absolute;
                left: calc(50% - 100px); // overriden via js
                bottom: -100px; // overriden via js
                box-shadow: 0px 0px 8px 1px rgba($color: #000000, $alpha: 0.2);
                border-radius: 5px;
                transition: 0.5s ease;
                user-select: none;

                &.raisable {
                    //border: 3px solid $blue-light;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .my-hand > div,
    .left-hand,
    .right-hand,
    .partner-hand {
            @include centerer(true, false);
            bottom: 0;
    }

    &.my-hand-container {
        
        .my-hand > div {
            
            display: flex;
            justify-content: center;
            align-items: center;

            .card-options {
                flex: 1;
                padding-right: 20px;
                text-align: right;
                min-width: 250px;

                p {
                    line-height: 1.5;
                }
            }

            .my-hand-wrapper {
                flex: 2;
            }

            .card-menu {
                flex: 1;
                padding-left: 20px;
                min-width: 250px;

                .actions {
                    min-height: 24px;
                }

                .step,
                .actions {
                    position: relative;
                    margin-left: 25px;
                    opacity: 1;
                    transition: all 0.3s ease;
                }

                .step,
                .actions .btn {

                    p {
                        line-height: 1.5;
                    }
    
                    .checkmark, 
                    .arrow-right {
                        @include centerer;
                        
                    }

                    .arrow-right {
                        width: 16px;
                        left: -16px;
                        animation: moveRightLeft 1s infinite alternate ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }

                    .checkmark {
                        width: 14px;
                        left: -17px;
                    }

                    &.btn {

                        p {
                            float: left;
                            text-decoration: underline;
                            margin-right: 8px;
                        }

                        &:last-of-type {

                            p {
                                margin-right: 0;
                            }
                        }
                    }

                    &.inactive {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

// played cards and in hand
img.card {
    width: 100px;
    height: 139px;
}