.notification-list {
    position: absolute;
    top: $content-margin;
    right: $content-margin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    > div {
         @include disappear;
    }
    
   

    .notification-container {
        margin-bottom: 16px;
       
    }
   


    .notification {
    
        p {
            position: relative;
            z-index: 6;
            background: rgba(255, 255, 255, 0.6);
            padding: 16px;
            font-size: 14px;

            span {
                font-weight: $semi-bold;
            }
        }
    }
}