@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,400;0,500;0,600;1,200;1,400;1,500;1,600&display=swap');

/**
This file contains the general and shared style of your application.
 */
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    color: $black;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

.background {
    position: fixed;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    transform-origin: center center;

    &.blue-bottom {
        @include rotate-bg(0deg);
    }

    &.green-bottom {
        @include rotate-bg(90deg);
    }

    &.red-bottom {
        @include rotate-bg(180deg);
    }

    &.yellow-bottom {
        @include rotate-bg(-90deg);
    }
}

.foreground {
    position: relative;
    @include fullscreen;
}

.gameScreen {
    position: fixed;
    @include fullscreen;
}

input,
textarea,
select,
button {
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    outline: none;
}

*:focus {
    outline: none;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}