@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

/**
This file contains the general and shared style of the application.
 */
body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    color: $black;
}

a {
    color: $black;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

p {
    font-size: 16px;
    line-height: 1.2;

    &.clickable {
        display: inline-block;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.user-box-title {
    margin-left: 10px;
    margin-bottom: 8px;

    p {
        color: $black-light;
    }
}

div.clickable {

    &:hover {
        cursor: pointer;
    }
}

h1 {
    font-size: 25px;
    font-weight: $bold;
}

.background {
    position: fixed;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    transform-origin: center center;

    &.BLUE-bottom {
        @include rotate-bg(0deg);
    }

    &.GREEN-bottom {
        @include rotate-bg(90deg);
    }

    &.RED-bottom {
        @include rotate-bg(180deg);
    }

    &.YELLOW-bottom {
        @include rotate-bg(-90deg);
    }
}

.foreground {
    position: relative;
    overflow: hidden;
    @include fullscreen;
}

.gameScreen {
    position: fixed;
    @include fullscreen;
}

input,
textarea,
select,
button {
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
    outline: none;
}

*:focus {
    outline: none;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}


div.blurred-element {

    &.counter-container {
        position: relative;

        .counter {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 11;
            transform: translate(33%, -33%);
        }
    }
    
    .container {
        position: relative;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.1);
            // todo fallback browser support
        }

        .content {
            position: relative;
            overflow: hidden;
            z-index: 10;
            width: 100%;
            height: 100%;
        }
    }
    
}

div.avatar-box {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.GREEN-bg {
        background: rgba($green, 0.2);
    }

    &.RED-bg {
        background: rgba($red, 0.2);
    }

    &.BLUE-bg {
        background: rgba($blue, 0.2);
    }

    &.YELLOW-bg {
        background: rgba($yellow, 0.2);
    }

    img {
        width: 28px;
        height: 28px;
        margin-bottom: 4px;        
        user-select: none;
    }
}

div.box {

    .box-content {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 17px 22px;

        &.with-users {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 304px;

            .scrollable {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                padding-right: 100px;
                box-sizing: content-box;

                .user-entry {
                    position: relative;
                    margin-bottom: 10px;
                
                    .username {
                        font-weight: $semi-bold;
                        position: absolute;
                        top: 9px;
                        left: 70px; // avatar width 60px
                    }

                    .email {
                         position: absolute;
                         bottom: 9px;
                         left: 70px;
                    }

                    .status {
                        color: $black-light;
                        @include centerer(false, true);
                        right: 0;

                        &.invite {
                            text-decoration: underline;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .accept {
                        position: absolute;
                        top: 9px;
                        right: 0;
                        color: $green;
                    }

                    .reject {
                        position: absolute;
                        bottom: 9px;
                        right: 0;
                        color: $red;
                    }
                }

                .loading {
                    position: relative;
                    width: inherit;
                    height: inherit;

                    .loader-wrapper {
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        .loader {
                            color: $grey-light;
                        }
                    }
                }
            }
        }
    }
}


.game-end {
    .below-text {
       color: $black-light;
       text-align: center;
       margin-top: 16px;
    }
}



.user-filter {
    margin-left: 10px;
    margin-bottom: 8px;

    p {
        display:inline-block;
        margin-right: 10px;
        cursor: pointer;
        color: $black-light;

        &:first-of-type {
            position: relative;
            padding-right: 10px;

            &:after {
                content:"";
                background: $black-light;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 100%;
                width: 1px;
            }
        }

        &:hover {
            opacity: 0.8;
        }

        &.active {
            text-decoration: underline;
        }
    }
}



.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation-fill-mode: both;
    animation: loading 1s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 5px;
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
    }

    &:before {
        left: -3.5em;
        animation-delay: -0.3s;
    }

    &:after {
        left: 3.5em;
    }
}

.manage-friends {

    .friends-filter {
        margin-bottom: 32px;;
    }

    .friend-request {
         p {
             margin-left: 10px;
             margin-bottom: 8px;
         }
    }
}

.link-below-box {
    text-align: center;
    margin-top: 16px;

    p {
        text-decoration: underline;
    }
}

.alert {
    width: auto;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 999999;

    .invitation {

        position: relative;

        .text {
            margin-bottom: 8px;
            max-width: 250px;

            .host-name {
                font-weight: $semi-bold;
            }
        }

        .btn-wrapper {
            overflow: hidden;

            .accept {
                float: left;
                color: $green;
            }

            .reject {
                float: left;
                color: $red;
                margin-right: 16px;
            }
        }
    }
}

.counter {
    display: table-cell;
    vertical-align: middle;
    background-color: $blue-light;
    color: white;
    font-size: 13px;
    line-height: 13px;
    font-weight: $semi-bold;
    padding: 4px 8px;
    letter-spacing: -0.25px;
    border-radius: 13px;
    border: 1px solid $grey-light;
    transition: max-width 1s;

    &:after {
        content: " \00a0\f12a ";
        font-family: ionicons;
        font-size: 80%;
        display: inline-block;
        max-width: 0;
        transition: max-width .6s;
        vertical-align: bottom;
        overflow: hidden;
    }
}

.overlay {
    position: fixed !important;
    z-index: 999999;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.card-overview {    
    width: 45%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
   
    .card-container {
        width: 100%;
        @include centerer;
        display: flex;
        flex-wrap: wrap;

        .card {
            width: calc(25% - 3/4*16px);
            height: auto;
            box-sizing: border-box;
            margin-right: 16px;
            margin-bottom: 16px;
            transition: all 0.2s ease-in-out;
    
            &:nth-of-type(4n) {
                margin-right: 0px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.08)
            }
        }
    }
}


.turn-message {

    p {
        font-size: 75px;

        span {
            font-weight: $semi-bold;
        }
    }
}