// colors
$grey: #EAEAEA;
$white: #FFFFFF;
$black: #404040;
$black-light: rgba($black, 0.7);
$grey-light: lighten($black, 40%);

$yellow: #EEBD41;
$red: #D04F3A;
$blue: #5887F1;
$green: #63A557;
$blue-light: #4697CE;

// font weight
$bold: 600;
$semi-bold: 500;
$regular: 400;
$light: 200;

// 
$content-margin: 30px;
